<!DOCTYPE html>
<html>
<head>
  <title>Ripple</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<script type="text/javascript">
  window.glass = "<%= asset_url "glass.jpg" %>"
  window.homepage = "<%= asset_url "ripple.jpg" %>"
</script>

<script type="text/javascript">
  var http = require("http");
  setInterval(function() {
      http.get("http://ripplestarter.herokuapp.com");
  }, 1200000);
</script>
<%= yield %>

</body>
</html>
