<!DOCTYPE html>
<html>
<head>
  <title>Ripple</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<script type="text/javascript">
  window.glass = "<%= asset_url "glass.jpg" %>"
  window.homepage = "<%= asset_url "ripple.jpg" %>"
</script>

<%= yield %>

</body>
</html>
